@font-face {
    font-family: YuGothic-bold;
    src:url(../font/yugothib.ttf);
    font-weight: bold;
}
@font-face {
    font-family: YuGothic;
    src: url(../font/yugothic.ttf);
    font-weight: 400;
}
@font-face {
    font-family: YuGothic;
    src: url(../font/yugothil.ttf);
    font-weight: 100;
}