@import "./mixin";
@import "./common.scss";
@import "./breakpoint";
#global__wrapper {
  padding-top: 3.5rem;
  @include tablet {
    padding-top: 5.7rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  .feature__head {
    padding: 0 1.6rem;
    margin-bottom: 5rem;
    @include lg-tablet {
      margin-bottom: 9.5rem;
    }
    .under {
      &.pc {
        display: none;
      }
      @include md-tablet {
        &.sp {
          display: none;
        }
        &.pc {
          display: block;
        }
      }
    }
    .wrapper {
      width: 100%;
      margin: 0 auto;
      position: relative;
      img {
        width: 100%;
      }
    }
    &-intro {
      font-size: 2.4rem;
      line-height: 1.1;
      font-weight: bold;
      position: absolute;
      padding-left: 1rem;
      @include lg-mobile {
        .feature__head-intro {
          font-size: 3.5rem;
        }
      }
      @include tablet {
        font-size: 4.5rem;
      }
      @include md-tablet {
        font-size: 6rem;
      }
    }
    .mv {
      position: relative;
      top: 1.2rem;
      z-index: -1;
      &.pc {
        display: none;
      }
    }
  } //end feature__head
  .intro {
    background: $bg-light;
    padding-bottom: 5rem;
    @include lg-tablet {
      padding-bottom: 13rem;
    }
    .mttl {
      padding: 1.1rem 0;
      span {
        display: block;
        line-height: 1.4;
      }
    }
    .group__per {
      padding: 3rem 1.6rem 0 1.6rem;
      @include lg-tablet {
        padding: 6.9rem 1.6rem 0;
        gap: 3rem;
      }
      .group__item {
        grid-column: 1/10;
        @include flex(row, initial);
        @include lg-tablet {
          grid-column: span 3;
        }
        font-size: 1.8rem;
        &:nth-of-type(1) {
          .box__think {
            padding-left: 1rem;
          }
        }
        &:not(:last-of-type) {
          margin-bottom: 3.1rem;
          @include lg-tablet {
            margin-bottom: 0;
          }
        }
        &:nth-child(even) {
          flex-direction: row-reverse;
          @include lg-tablet {
            flex-direction: row;
            .box__think {
              transform: rotateY(180deg);
              .text {
                transform: translate(-70%, -50%) rotateY(180deg);
              }
            }
          }
          .box__think {
            padding-right: 1rem;
          }
          .text {
            transform: translate(-42%, -50%);
          }
        }
        .person {
          height: 130px;
        }
        .text__red {
          font-weight: bold;
          font-size: 2.2rem;
        }
        .box__think {
          position: relative;
        }
        .text {
          span {
            line-height: 3.3rem;
          }
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-30%, -50%);
          width: 100%;
        }
      }
    }
    .text__dash {
      position: relative;
      font-size: 2rem;
      font-weight: bold;
      margin: 5.6rem auto 4.3rem;
      width: max-content;
      @include lg-mobile {
        .intro .text__dash {
          font-size: 3rem;
        }
      }
      @include lg-tablet {
        font-size: 4rem;
        margin: 7.3rem auto 5.5rem;
      }
      .three__dash {
        position: absolute;
        top: -2.9rem;
        right: -25px;
      }
    }
    .about__expert {
      position: relative;
      .wp {
        padding: 0 1.6rem;
      }
      .estimate {
        background-color: #007bce;
        width: calc(100% - 8.7rem);
        box-sizing: border-box;
        padding: 1rem 0 1rem 3.5rem;
        span {
          font-size: 1.8rem;
          line-height: 3.3rem;
          color: $text-white;
        }
        .number {
          font-size: 3rem;
          font-weight: bold;
          color: #f0ff01;
          padding-right: 0.5rem;
        }
        @include lg-tablet {
          padding: 3rem 9rem;
          margin-left: 10.8rem;
          @include flex(row, left);
          width: fit-content;
          span {
            font-size: 3rem;
          }
          .number {
            font-size: 6rem;
          }
        }
      }
      .text {
        padding: 2.1rem;
        font-size: 2.2rem;
        font-weight: bold;
        line-height: 3.3rem;
        width: 16rem;
        word-break: break-word;
        @include lg-tablet {
          width: 62rem;
          font-size: 6rem;
          line-height: 1.2;
          padding: 4.9rem 0 5.3rem 12rem;
        }
      }
      .man__img {
        position: absolute;
        top: 3.4rem;
        right: 1.2rem;
        z-index: 0;
        @include pc{
          right: 10%;
          top: 1.4rem;
        }
      }
    }
  } //end intro
  .advertise {
    .mttl-1 {
      font-size: 2.2rem;
      text-align: center;
      min-height: 9.8rem;
      display: flex;
      align-items: center;
      background: $primary;
      color: $text-white;
      margin-bottom: 3.3rem;
      @include lg-tablet {
        height: 15rem;
        margin-bottom: 7.2rem;
      }
      .wp {
        width: 223px;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 0 auto;
        @include lg-tablet {
          width: fit-content;
          @include flex(row, center);
          font-size: 4rem;
        }
        .lg {
          line-height: 3.3rem;
          font-weight: bold;
        }
        .sm {
          font-size: 1.6rem;
          font-weight: 400;
          text-align: right;
          @include lg-tablet {
            font-size: 4rem;
            font-weight: bold;
          }
        }
      }
    }
    .group__per {
      padding: 0 1.6rem;
      grid-template-columns: repeat(8,1fr);
      @include lg-tablet {grid-template-columns: repeat(9,1fr);}
      .group__item {
        grid-column: 1/9;
        position: relative;
        margin-bottom: 50px;
        .wrapper {
          position: relative;
          width: fit-content;
          margin: 0 auto;
        }
        @include tablet {
          &:nth-of-type(1){
            grid-column: 1/5;
            grid-row: 1;
          }
          &:nth-of-type(2) {
            grid-column: 5/9;
            grid-row: 1;
            
          }
          &.btn__act {
            grid-column: span 9;
            grid-row: 3;
          }
        }
        @include lg-tablet {
          &:nth-of-type(1){
            grid-column: 1/4;
            grid-row: 1;
          }
          &:nth-of-type(2){
            grid-column: 4/7;
            grid-row: 1;
          }
          &:nth-of-type(3){
            grid-column: 7/10;
            grid-row: 1;
          }
          &.btn__act {
            transform: rotateY(0deg) !important;
            grid-column: span 10;
            grid-row: 2;
          }
          margin-bottom: 10rem;
          
        }
        &:nth-child(even) {
          .text {
            transform: translate(-25%, -50%);
          }
          @include lg-tablet {
            transform: rotateY(180deg);
            .text {
              transform: translate(-32%, -50%) rotateY(180deg);
            }
          }
        }
        .text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-66%, -50%);
          font-size: 2.2rem;
          line-height: 1.6;
          max-width: 23.6rem;
          width: 100%;
        }
      }
    }
  } //end advertise
  .support {
    background-color: $bg-light;
    padding-bottom: 6rem;
    .mttl {
      padding: 2.5rem 0 2.6rem 0;
    }
    .wrapper {
      padding: 2rem 1.6rem 0 1.6rem;
      position: relative;
      @include lg-tablet {
        padding: 0rem 1.6rem 0 1.6rem;
        justify-content: right !important;
        .man__img {
          margin-right: 5rem;
          transform: translateY(-3rem) !important;
        }
      }
      .dbl__cloud {
        margin-bottom: 5rem;
        @include flex(row, center);
        @include lg-tablet {
          margin-bottom: 10rem;
        }
        .cloud {
          position: relative;
          &.sm {
            left: -1.5rem;
          }
          &.lg {
            right: -1rem;
          }
          @include lg-tablet {
            &.lg {
              transform: translate(-113px, 35px) rotate(-20deg);
            }
            &.sm {
              transform: translate(84px, 53px) rotate(8deg);
            }
          }
          .text {
            position: absolute;
            font-size: 2rem;
            top: 50%;
            left: 50%;
            transform: translate(-49%, -71%) rotate(-12deg);
            width: 12.8rem;
            text-align: center;
            line-height: 1.4;
            &.sm {
              font-size: 1.8rem;
              width: 6rem;
              transform: translate(-39%, -67%) rotate(22deg);
            }
            @include lg-tablet {
              font-size: 2.5rem;
              &.sm {
                font-size: 2.5rem;
                width: 8rem;
              }
            }
          }
        }
      }
      .girl__cloud {
        position: absolute;
        top: 118px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        @include lg-tablet {
          top: 60px;
        }
      }
    }
    .estimate {
      font-size: 2.4rem;
      font-weight: bold;
      width: 100%;
      background-color: $text-blue;
      color: $text-white;
      text-align: center;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 1;
      @include lg-tablet {
        width: 978px;
        margin: 0 auto;
      }
      span {
        display: flex;
        align-items: center;
        width: 24.2rem;
        margin: 0 auto;
        line-height: 1.4;
        height: 127px;
      }
      @include lg-tablet {
        span {
          width: fit-content;
          font-size: 4rem;
        }
      }
    }
    .support__service {
      .wrapper {
        @include tablet {
          @include flex(row-reverse, center);
        }
      }
      .man__img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -29px;
        z-index: 2;
        @include tablet {
          position: initial;
          transform: initial;
        }
      }
      .text {
        padding-top: 19.5rem;
        padding-bottom: 3.2rem;
        @include tablet {
          padding: 0 2.8rem 0 0;
        }
        p {
          margin-left: auto;
          margin-right: auto;
          background: linear-gradient(to bottom, transparent 70%, #f0ff01 0);
          text-align: center;
          font-size: 2.4rem;
          font-weight: bold;
          width: fit-content;
          padding: 0 2rem;
          &:last-child {
            width: 23.3rem;
          }
          &:not(:last-child) {
            margin-bottom: 1rem;
          }
          @include tablet {
            font-size: 3.4rem;
            &:last-child {
              width: 33rem;
            }
          }
          @include lg-tablet {
            font-size: 5rem;
            white-space: nowrap;
            &:last-child {
              width: max-content;
            }
          }
        }
      }
    }
  } //end support
  .relate {
    .group__per {
      padding: 3rem 1.6rem 6rem;
      @include tablet {
        grid-gap: 0px 10px;
      }
      .group__item {
        grid-column: 1/10;
        padding: 1.2rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        @include flex(row, left);
        &:not(:last-of-type) {
          margin-bottom: 16px;
        }
        .thumb {
          width: 75px;
          height: 50px;
          margin-right: 16px;
          flex: 0 0 75px;
        }
        .text {
          .title {
            font-size: 1.3rem;
            line-height: 1.7;
            color: #0090ca;
            font-weight: bold;
            @include tablet {
              font-size: 1.6rem;
            }
          }
          time {
            font-size: 1.1rem;
          }
        }
        @include tablet {
          grid-column: span 5;
          &:first-of-type {
            grid-column: 1/5;
          }
          &:last-of-type {
            grid-column: 5/10;
            grid-row: 2;
          }
          &:nth-last-of-type(3) {
            grid-column: 1/5;
            grid-row: 2;
            margin-bottom: 0;
          }
        }
      }
    }
  } //end relate
  .trouble {
    background: $bg-light;
    padding-bottom: 3rem;
    .triple__cloud {
      max-width: 375px;
      margin: 0 auto;
      padding: 7.4rem 1.6rem 3rem;
      position: relative;
      .girl__cloud {
        img {
          margin: 0 auto;
        }
        position: relative;
        z-index: 2;
      }
      .cloud {
        position: absolute;
        .text {
          line-height: 0.7;
          font-size: 2rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &.sm:nth-of-type(2) {
          top: 2rem;
        }
        &.sm:nth-of-type(3) {
          right: 0.5rem;
          top: 9.3rem;
          z-index: 3;
        }
        &.lg {
          bottom: -45px;
          left: 50%;
          transform: translateX(-50%);
          min-width: 26.2rem;
          z-index: 3;
          .text {
            line-height: 28px;
            width: 14rem;
          }
        }
      }
      @include tablet {
        max-width: 100%;
        width: fit-content;
        .cloud.sm:nth-of-type(2) {
          left: -22.5rem;
          z-index: 3;
        }
        .cloud.sm:nth-of-type(3) {
          left: -15.5rem;
          top: 10rem;
          z-index: 2;
          width: fit-content;
        }
        .cloud.lg {
          left: 28rem;
          bottom: 6rem;
        }
      }
    }
    .support__service {
      padding: 9rem 1.6rem 0;
      @include tablet {
        padding: 5rem 1.6rem 0;
      }
      .wanna__talk {
        width: fit-content;
        margin: 0 auto;
        position: relative;
        text-align: center;
        .text {
          font-size: 1.6rem;
          line-height: 1.6;
        }
        .three__dash {
          position: absolute;
          top: -21px;
          right: 15px;
        }
        .text__blue {
          font-weight: bold;
        }
        @include tablet {
          .text {
            font-size: 3rem;
            line-height: 1.3;
          }
          .text__blue {
            font-size: 3.5rem;
          }
        }
      }
      .thumb {
        padding-top: 0.5rem;
        img {
          margin: 0 auto;
        }
      }
      .btn__act2 {
        font-family: YuGothic;
        background-color: #a3d761;
        font-weight: bold;
        color: $text-white;
        font-size: 2rem;
        min-height: 68px;
        width: 100%;
        border: none;
        border-bottom: 5px solid #87b746;
        @include flex(row, center);
        @include tablet {
          font-size: 4.4rem;
          font-size: 4.4rem;
          width: 700px;
          height: 145px;
          margin: 0 auto;
        }
        .home {
          margin-right: 2.7rem;
        }
      }
    }
  } //end trouble
  .customer__voice {
    .group__per {
      grid-template-columns: repeat(8, 1fr);
      padding: 2.4rem 1.6rem 1.3rem;
      @include md-tablet {
        padding: 6rem 4rem 4.65rem;
      }
      .group__item {
        grid-column: 1/19;
        padding-bottom: 3rem;
        &:not(:last-of-type) {
          border-bottom: 2px dashed #7eb9e0;
        }
        @include md-tablet {
          grid-column: span 4;
          margin-bottom: 0;
          padding-bottom: 0;
          .thumb {
            margin-right: 1.4rem;
            .text {
              margin-top: 1rem;
            }
          }
          &:nth-of-type(1) {
            grid-column: 1/5;
            grid-row: 1;
            border-right: 2px dashed #7eb9e0;
            padding: 0 3rem 2rem 0;
          }
          &:nth-of-type(2) {
            grid-column: 5/9;
            grid-row: 1;
            padding: 0 0 4.8rem 2.3rem;
          }
          &:nth-of-type(3) {
            grid-column: 1/5;
            grid-row: 2;
            border-bottom: 0;
            border-right: 2px dashed #7eb9e0;
            padding: 3.8rem 3rem 0 0;
          }
          &:nth-of-type(4) {
            grid-column: 5/9;
            grid-row: 2;
            padding: 3.8rem 0 0 3.8rem;
          }
        }
        .wrapper {
          display: flex;
          .thumb {
            flex: 0 0 95px;
            text-align: center;
            @include md-tablet {
              img {
                transform: scale(1.2);
              }
            }
            .text {
              font-weight: bold;
              margin-top: 0.8rem;
              display: block;
              @include md-tablet {
                font-size: 2.3rem;
              }
            }
          }
        }
        &:not(:last-of-type) {
          margin-bottom: 30px;
          @include md-tablet {
            margin-bottom: 0;
          }
        }
        .text,
        .desc {
          font-size: 1.6rem;
          line-height: 1.6;
          @include md-tablet {
            font-size: 2rem;
            line-height: 1.5;
          }
        }
      }
    }
  } //end customer__voice
  footer {
    padding-bottom: 12rem;
    @include tablet {
      padding-bottom: 0;
    }
    .logo {
      text-align: center;
      background-color: #e3f6fd;
      padding: 5rem 0rem 3rem;
      @include tablet {
        padding: 6rem 0rem 5.5rem;
      }
      .thumb {
        img {
          margin: 0 auto;
        }
      }
      .desc {
        display: block;
        padding-top: 0.9rem;
        font-size: 1.8rem;
        font-weight: bold;
        @include tablet {
          font-size: 3.5rem;
        }
      }
    }
    .info {
      @include tablet {
        display: flex;
        align-items: center;
      }
      .text {
        line-height: 1.75;
        font-size: 1.6rem;
        padding: 2rem 3.4rem 1.2rem;
        @include tablet {
          width: 50%;
          box-sizing: border-box;
          font-size: 2rem;
          line-height: 1.4;
          p:first-child {
            margin-bottom: 3rem;
          }
        }
        @include md-tablet {
          font-size: 3rem;
          padding-right: 0;
        }
      }
      .map {
        @include tablet {
          width: 50%;
        }
        iframe {
          width: 100%;
          min-height: 22rem;
        }
      }
    }
  } //end footer
  //small tablet
  @include tablet {
    .mv {
      &.sp {
        display: none;
      }
      &.pc {
        display: block !important;
      }
    }
  }
}
